/* 
Define a fonte e o fundo básico para toda a página 
*/
body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, 'Helvetica Neue', Arial;
  margin: 30px;
  background: #0a7cee;
}

/* Títulos: remove margem superior e centraliza */
h1, h2, h3 {
  margin-top: 0;
  text-align: center;
}

/* Utilitários */
.center {
  text-align: center;
}

.hidden {
  display: none;
}